body {
  background-color: #F9F9F9;
  color: #777;
  margin: 0;
  display: flex;
}
aside {
  width: 33vh; /* #nav-year + #nav-month */
  display: flex;
  padding-right: 2vh;
}
main {
  width: calc(100vw - 35vh);
  height: 100vh;
  display: flex;
}
@font-face {
  font-family: quattrocento-regular;
  src: url(../../../../android-shared/res/font/quattrocento_regular.ttf);
}



#nav-year, #nav-month {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav-year {
  width: 13vh;
  border-right: 1px solid #EEE;
}
#nav-year span {
  margin: 0 1.5vh;
  padding: 2vh 0;
  text-align: center;
  border-radius: 3.5vh;
  transition: font-size 300ms linear;
  cursor: default;
}
#nav-month {
  width: 20vh;
}
#nav-month span {
  margin: 0.5vh 0;
  padding: 1vh 0 1vh 3.5vh;
  font-size: 2.8vh;
  border-top-right-radius: 2.5vh;
  border-bottom-right-radius: 2.5vh;
  cursor: pointer;
}
#nav-year span:nth-child(6), #nav-month span[selected] {
  font-weight: bold;
  background-color: #EEE;
}
#nav-year span:not(:nth-child(6)) {
  cursor: pointer;
}
#nav-year span:not(:nth-child(6)):hover, #nav-month span:not([selected]):hover {
  background-color: #F3F3F3;
}
#nav-year span:nth-child(1), #nav-year span:nth-child(11) { font-size: 1.8vh; }
#nav-year span:nth-child(2), #nav-year span:nth-child(10) { font-size: 2.1vh; }
#nav-year span:nth-child(3), #nav-year span:nth-child(9)  { font-size: 2.4vh; }
#nav-year span:nth-child(4), #nav-year span:nth-child(8)  { font-size: 2.7vh; }
#nav-year span:nth-child(5), #nav-year span:nth-child(7)  { font-size: 3vh; }
#nav-year span:nth-child(6) { font-size: 3.3vh; }



#grid {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 40px;
}
.dies {
  height: 18vh;
  text-align: center;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  padding: 0.3rem;
  cursor: pointer;
  transition: border-color 0.2s, border-size 0.2s, transform 0.1s;
}
.dies p:first-child {
  display: flex;
  height: 25%;
  margin: 2px 4px 0 4px;
}
.dies p:first-child span {
  flex: 1;
  text-align: start;
  font-size: 1rem;
}
.dies p:first-child svg {
  width: 19px;
  height: 19px;
  margin-top: 3px;
}
.dies p:nth-child(2) {
  font-size: 1.25rem;
  margin: 0;
}
.dies p:nth-child(3) {
  font-size: 1.1rem;
  margin: 0.4rem 0;
}
.dies p:nth-child(3).non-important {
  opacity: 0.75;
}
.dies.pleasant, .dies.painful { color: white; }
.dies.pleasant.lv0_5 { background-color: rgba(76, 174, 80, 0.167); }
.dies.pleasant.lv1   { background-color: rgba(76, 174, 80, 0.333); }
.dies.pleasant.lv1_5 { background-color: rgba(76, 174, 80, 0.500); }
.dies.pleasant.lv2   { background-color: rgba(76, 174, 80, 0.667); }
.dies.pleasant.lv2_5 { background-color: rgba(76, 174, 80, 0.833); }
.dies.pleasant.lv3   { background-color: rgba(76, 174, 80, 1.000); }
.dies.painful.lv0_5 { background-color: rgba(243, 67, 54, 0.167); }
.dies.painful.lv1   { background-color: rgba(243, 67, 54, 0.333); }
.dies.painful.lv1_5 { background-color: rgba(243, 67, 54, 0.500); }
.dies.painful.lv2   { background-color: rgba(243, 67, 54, 0.667); }
.dies.painful.lv2_5 { background-color: rgba(243, 67, 54, 0.833); }
.dies.painful.lv3   { background-color: rgba(243, 67, 54, 1.000); }
.dies.today {
  border: 0.4rem solid rgba(0, 0, 0, 0.267);
  padding: 0;
}
.dies[selected] {
  border: 0.4rem solid rgba(0, 0, 0, 0.85);
  padding: 0;
  cursor: default;
}
.dies:not([selected]):hover {
  transform: scale(1.02, 1.02);
}
.dies.pending, .dies.pending:not([selected]):hover {
  opacity: 0.75;
  transform: scale(0.9, 0.9);
}

#panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#panel > header {
}
#panelTop {
  display: flex;
  margin-bottom: 1rem;
}
#emoji {
  width: 2rem;
  height: 2rem;
  font-size: 22px;
  text-align: center;
}
#score {
}
#verbum {
  width: 85%;
  height: 50vh;
  font-size: 18px;
  resize: none;
}
#panel > footer {
}
#panel > footer > button {
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: #222s;
    color: #FFF;
  }
  #nav-year {
    border-right-color: #666;
  }
  #nav-year span:nth-child(6), #nav-month span[selected] {
    background-color: #666;
  }
  #nav-year span:not(:nth-child(6)):hover, #nav-month span:not([selected]):hover {
    background-color: #444;
  }
  .dies {
    border-color: #666;
  }
  .dies.pleasant.lv0_5 { background-color: rgba(3, 76, 6, 0.167); }
  .dies.pleasant.lv1   { background-color: rgba(3, 76, 6, 0.333); }
  .dies.pleasant.lv1_5 { background-color: rgba(3, 76, 6, 0.500); }
  .dies.pleasant.lv2   { background-color: rgba(3, 76, 6, 0.667); }
  .dies.pleasant.lv2_5 { background-color: rgba(3, 76, 6, 0.833); }
  .dies.pleasant.lv3   { background-color: rgba(3, 76, 6, 1.000); }
  .dies.painful.lv0_5 { background-color: rgba(103, 13, 6, 0.167); }
  .dies.painful.lv1   { background-color: rgba(103, 13, 6, 0.333); }
  .dies.painful.lv1_5 { background-color: rgba(103, 13, 6, 0.500); }
  .dies.painful.lv2   { background-color: rgba(103, 13, 6, 0.667); }
  .dies.painful.lv2_5 { background-color: rgba(103, 13, 6, 0.833); }
  .dies.painful.lv3   { background-color: rgba(103, 13, 6, 1.000); }
}
