body {
  background-color: #F9F9F9;
  color: #777;
  margin: 0;
  display: flex;
}
@font-face {
  font-family: quattrocento-regular;
  src: url(../../../../android-shared/res/font/quattrocento_regular.ttf);
}



aside {
  width: 33vh; /* #nav-year + #nav-month */
  display: flex;
}
#nav-year, #nav-month {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav-year {
  width: 13vh;
  border-right: 1px solid #EEE;
}
#nav-year span {
  margin: 0 1.5vh;
  padding: 2vh 0;
  text-align: center;
  border-radius: 3.5vh;
  transition: font-size 300ms linear;
}
#nav-month {
  width: 20vh;
}
#nav-month span {
  margin: 0.5vh 0;
  padding: 1vh 0 1vh 3.5vh;
  font-size: 2.8vh;
  border-top-right-radius: 2.5vh;
  border-bottom-right-radius: 2.5vh;
}
#nav-year span:nth-child(6), #nav-month span[selected] {
  font-weight: bold;
  background-color: #EEE;
}
#nav-year span:not(:nth-child(6)), #nav-month span:not([selected]) {
  cursor: pointer;
}
#nav-year span:not(:nth-child(6)):hover, #nav-month span:not([selected]):hover {
  background-color: #F3F3F3;
}
#nav-year span:nth-child(1), #nav-year span:nth-child(11) { font-size: 1.8vh; }
#nav-year span:nth-child(2), #nav-year span:nth-child(10) { font-size: 2.1vh; }
#nav-year span:nth-child(3), #nav-year span:nth-child(9)  { font-size: 2.4vh; }
#nav-year span:nth-child(4), #nav-year span:nth-child(8)  { font-size: 2.7vh; }
#nav-year span:nth-child(5), #nav-year span:nth-child(7)  { font-size: 3vh; }
#nav-year span:nth-child(6) { font-size: 3.3vh; }



main {
  width: calc(100vw - 33vh);
  height: 100vh;
  display: flex;
}
#grid {
}
#grid > div {
}
