@import "global.css";

#varPickerContainer {
    -fx-padding: 2em 0 2em 3.85em;
}
#varPicker {
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-max-width: 6em;
    -fx-min-width: 6em;
    -fx-max-height: 3em;
    -fx-min-height: 3em;
}
/*#varPicker > .list-cell {
    -fx-font-weight: bold;
}*/
#varPicker .list-cell {
    -fx-alignment: center;
}
#varPicker .list-view .list-cell {
    -fx-font-size: 18px;
}
#emoji {
    -fx-font-size: 21px;
    -fx-max-width: 3em;
}
#verbum {
    -fx-max-width: 21em;
    /*-fx-padding: 2em 2em;*/
}

/*ButtonBar {
      cursor: hand;
  }*/
