body {
  background-color: #FEFEFE;
  color: #777;
  margin: 0;
}

aside {
  display: flex;
}
#nav-year, #nav-month {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav-year {
  width: 10vh;
}
#nav-year span {
  padding: 2vh 0;
  text-align: center;
  transition: font-size 300ms linear;
}
#nav-month {
  width: 15vh;
  margin-left: 3vh;
}
#nav-month span {
  padding: 1vh 0;
  font-size: 3vh;
}
#nav-year span:nth-child(1), #nav-year span:nth-child(9) { font-size: 2vh; }
#nav-year span:nth-child(2), #nav-year span:nth-child(8) { font-size: 2.3vh; }
#nav-year span:nth-child(3), #nav-year span:nth-child(7) { font-size: 2.7vh; }
#nav-year span:nth-child(4), #nav-year span:nth-child(6) { font-size: 3vh; }
#nav-year span:nth-child(5) { font-size: 3.6vh; }

@font-face {
  font-family: quattrocento-regular;
  src: url(../../../../android-shared/res/font/quattrocento_regular.ttf);
}
