* {
  font-family: quattrocento-regular;
}
body {
  background-color: #F9F9F9;
  color: #777;
  margin: 0;
  display: flex;
}
aside {
  width: 36vh; /* #nav-year + #nav-month */
  display: flex;
  padding-right: 2vh;
}
main {
  width: calc(100vw - 35vh);
  height: 100vh;
  display: flex;
}
@font-face {
  font-family: quattrocento-bold;
  src: url(quattrocento_bold.ttf);
}
@font-face {
  font-family: quattrocento-regular;
  src: url(quattrocento_regular.ttf);
}



#nav-year, #nav-month {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav-year {
  width: 13vh;
  border-right: 1px solid #EEE;
}
#nav-year span {
  margin: 0 1.5vh;
  padding: 2vh 0;
  text-align: center;
  border-radius: 3.5vh;
  transition: font-size 300ms linear;
  cursor: default;
}
#nav-month {
  width: 23vh;
}
#nav-month span {
  margin: 0.5vh 0;
  padding: 1vh 0 1vh 3.5vh;
  font-size: 2.7vh;
  border: 1px solid transparent;
  border-top-right-radius: 2.5vh;
  border-bottom-right-radius: 2.5vh;
  cursor: pointer;
}
#nav-year span:nth-child(6), #nav-month span[selected] {
  font-family: quattrocento-bold;
  background-color: #EEE;
}
#nav-year span:not(:nth-child(6)) {
  cursor: pointer;
}
#nav-year span:not(:nth-child(6)):hover, #nav-month span:not([selected]):hover {
  background-color: #F3F3F3;
}
#nav-year span:nth-child(1), #nav-year span:nth-child(11) { font-size: 1.7vh; }
#nav-year span:nth-child(2), #nav-year span:nth-child(10) { font-size: 2.0vh; }
#nav-year span:nth-child(3), #nav-year span:nth-child(9)  { font-size: 2.3vh; }
#nav-year span:nth-child(4), #nav-year span:nth-child(8)  { font-size: 2.6vh; }
#nav-year span:nth-child(5), #nav-year span:nth-child(7)  { font-size: 2.9vh; }
#nav-year span:nth-child(6) { font-size: 3.2vh; }
#nav-month span.pending {
  border-color: #777;
}



#grid {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 40px;
}
.dies {
  height: 18vh;
  text-align: center;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  padding: 0.3rem;
  cursor: pointer;
  transition: border-color 0.2s, border-size 0.2s, transform 0.1s;
}
.dies p:first-child {
  display: flex;
  height: 25%;
  margin: 2px 4px 0 4px;
}
.dies p:first-child span {
  flex: 1;
  text-align: start;
  font-size: 1rem;
}
.dies p:first-child svg {
  width: 19px;
  height: 19px;
  margin-top: 3px;
}
.dies p:nth-child(2) {
  font-size: 1.25rem;
  margin: 0;
}
.dies p:nth-child(3) {
  font-size: 1.1rem;
  margin: 0.4rem 0;
}
.dies p:nth-child(3).non-important {
  opacity: 0.75;
}
.dies.pleasant, .dies.painful { color: white; }
.dies.pleasant.lv0_5 { background-color: rgba(76, 174, 80, 0.167); }
.dies.pleasant.lv1   { background-color: rgba(76, 174, 80, 0.333); }
.dies.pleasant.lv1_5 { background-color: rgba(76, 174, 80, 0.500); }
.dies.pleasant.lv2   { background-color: rgba(76, 174, 80, 0.667); }
.dies.pleasant.lv2_5 { background-color: rgba(76, 174, 80, 0.833); }
.dies.pleasant.lv3   { background-color: rgba(76, 174, 80, 1.000); }
.dies.painful.lv0_5 { background-color: rgba(243, 67, 54, 0.167); }
.dies.painful.lv1   { background-color: rgba(243, 67, 54, 0.333); }
.dies.painful.lv1_5 { background-color: rgba(243, 67, 54, 0.500); }
.dies.painful.lv2   { background-color: rgba(243, 67, 54, 0.667); }
.dies.painful.lv2_5 { background-color: rgba(243, 67, 54, 0.833); }
.dies.painful.lv3   { background-color: rgba(243, 67, 54, 1.000); }
.dies.today {
  border: 0.4rem solid rgba(0, 0, 0, 0.267);
  padding: 0;
}
.dies[selected] {
  border: 0.4rem solid rgba(0, 0, 0, 0.85);
  padding: 0;
  cursor: default;
}
.dies:not([selected]):hover {
  transform: scale(1.02, 1.02);
}
.dies.pending, .dies.pending:not([selected]):hover {
  opacity: 0.75;
  transform: scale(0.9, 0.9);
}

#panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#panel > header {
  width: 85%;
  padding: 1.5rem 7.5% 0 7.5%;
  text-align: left;
}
#panel > header > p {
  height: 25px;
  margin: 0;
}
#panel > header > p > span {
  font-size: 25px;
  font-family: quattrocento-bold;
}
#panel > header > p > span:last-child {
  margin-left: 4px;
}
#panel > header > hr {
  margin: 0.5rem 0 0 0;
  opacity: 0.35;
}
#panelTop {
  width: 85%;
  margin: 1rem 0;
}
#emoji {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  margin-top: 5.5rem;
  background: none;
  border: none;
  font-size: 22px;
  text-align: center;
}
#emoji::placeholder {
  opacity: 0.5;
}
#score {
  height: 6rem;
  padding: 0;
  list-style: none;
  overflow: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}
#score li {
  margin: 3rem 0;
  scroll-snap-align: center;
  text-align: center;
  font-size: 36px;
  font-family: quattrocento-bold;
}
#score li:first-child {
  margin-top: 3rem;
}
#score li:last-child {
  margin-bottom: 3rem;
}
/*#scoreCover {
  position: fixed;
  width: 17%;
  height: 8rem;
  margin-top: -8rem;
  margin-left: 9%;
  background: linear-gradient(to bottom, #F9F9F9, transparent, #F9F9F9);;
}*/
#verbum {
  width: calc(85% - 30px);
  height: calc(100% - 21rem);
  padding: 10px 15px;
  background-color: transparent;/*#F9F9F7-#ECF1EB*/
  border: 1px solid #AAA;
  border-radius: 1.5rem;
  font-size: 17.5px;
  line-height: 2rem;
  color: #333;
  resize: none;
}
#panel > footer {
  margin-top: 1.5rem;
}
#panel > footer > button {
  margin: 0 20px;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
}
#panel > footer > button[disabled] {
  cursor: default;
}
#clear:not([disabled]) {
  text-shadow: 2px 2px 2px #F4433655;
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #FFF;
  }

  #nav-year {
    border-right-color: #666;
  }
  #nav-year span:nth-child(6), #nav-month span[selected] {
    background-color: #666;
  }
  #nav-year span:not(:nth-child(6)):hover, #nav-month span:not([selected]):hover {
    background-color: #444;
  }
  #nav-month span.pending {
    border-color: #999;
  }

  .dies {
    border-color: #666;
  }
  .dies.pleasant.lv0_5 { background-color: rgba(3, 76, 6, 0.167); }
  .dies.pleasant.lv1   { background-color: rgba(3, 76, 6, 0.333); }
  .dies.pleasant.lv1_5 { background-color: rgba(3, 76, 6, 0.500); }
  .dies.pleasant.lv2   { background-color: rgba(3, 76, 6, 0.667); }
  .dies.pleasant.lv2_5 { background-color: rgba(3, 76, 6, 0.833); }
  .dies.pleasant.lv3   { background-color: rgba(3, 76, 6, 1.000); }
  .dies.painful.lv0_5 { background-color: rgba(103, 13, 6, 0.167); }
  .dies.painful.lv1   { background-color: rgba(103, 13, 6, 0.333); }
  .dies.painful.lv1_5 { background-color: rgba(103, 13, 6, 0.500); }
  .dies.painful.lv2   { background-color: rgba(103, 13, 6, 0.667); }
  .dies.painful.lv2_5 { background-color: rgba(103, 13, 6, 0.833); }
  .dies.painful.lv3   { background-color: rgba(103, 13, 6, 1.000); }
  .dies.today {
    border-color: rgba(255, 255, 255, 0.267);
  }
  .dies[selected] {
    border-color: rgba(255, 255, 255, 0.85);
  }

  #emoji, #verbum {
    color: #FFF;
  }
}
